*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
  display: grid;
  place-items: center;
  min-height: 20vh;

}
main{
  display: grid;
  justify-content: center;
  min-height: 60vh;
  padding: 0 2vw;
}
#containerTable{
  overflow-x:auto;
  height: fit-content;
}
td{
  height: 8vw;
  width:  8vw;
  font-size: 0.8rem;
  border: 1px #000 solid;
  text-align: center;
}

.slidecontainer{
  text-align: center;
  display: grid;
  grid-template-columns: auto 1fr 1fr;
}

h1, h2{
  margin: 1rem 0 ;
}


@media (max-width:920px) {
  .slidecontainer{
    grid-template-columns: 1fr;
  }
}